@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth flash */
.flash-up    { transition: background-color .6s ease; background-color: rgb(220 252 231); } /* green-100 */
.flash-down  { transition: background-color .6s ease; background-color: rgb(254 226 226); } /* red-100 */
